/venv/
.idea
/[Dd]ownload*/
/html

main*
list*
*.json
*.DS_Store
*.log
/main.py
/cmd.txt
/haplotype_collapse.py
/biodumpy/data/AVONET/convert_avonet.py

/.idea
/biodumpy.egg-info/
/build/
/dist/
/htmlcov
/biodumpy/data/AVONET/
/test_results/
/tests/.env
/docs/source/_build/
