/venv/
.idea
/[Dd]ownload*/
/html

main*
list*
*.json
*.log
/main.py
/cmd.txt
/haplotype_collapse.py
/biodumpy/data/AVONET/convert_avonet.py

/.idea
/biodumpy.egg-info/
/build/
/dist/
/htmlcov
/biodumpy/data/AVONET/
